{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
    <h1>Liste des entreprises</h1>
    
   
        {% for entreprise in entreprises %}
            {# <p>{{ entreprise.raisonSociale ~ '(' ~ entreprise.cp ~ ' ' ~ entreprise.ville ~ ')' }}</p> #}
            <p><a href=" {{ path('show_entreprise', {'id': entreprise.id} )}}">{{ entreprise }}</a></p>
        {% endfor %}
    



{% endblock %}
