{% extends 'base.html.twig' %}

{% block title %}Détail d'une entreprise{% endblock %}

{% block body %}
    <h1>Détail d'une entreprise</h1>
    
   
    <h2>{{ entreprise }}</h2>
    <div>
        <p>Adresse : {{ entreprise.adresseComplete }} </p>
        <p>Date de Création : {{entreprise.dateCreation | date("d.m.Y") }} </p>
    </div>



{% endblock %}
